body {
  max-width:1000px;
  margin:100px;
  line-height: 24px;
  font: 16px Helvetica,Sans-Serif;
  background-color: #f4f4f4;
  background-image: url('../image/bg.png');
  color:#555
}

#name {
  color:rgb(200,214,107);
  margin:0 0 16px 0;
  padding:0 0 16px 0;
  font-size:60px;
  font-weight:bold;
}

.row{

  display:flex;
}

.colum{
  padding:10px
}

.colum.side{
  flex:1
}

.colum.middle{
  flex:1
}

.spin{
  margin-right: 20px;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

a {
  color: rgb(255, 209, 59);
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
  color: black;
}


h1{
color:rgb(233,214,107);
margin:0 0 16px 0;
padding:0 0 16px 0;
font-size:36px;
font-weight:normal;
letter-spacing:-2px
bordwr-bottom:1px solid #999;
}
h2{
color:rgb(251,206,177);
margin:0 0 16px 0;
padding:0 0 16px 0;
font-size:26px;
font-weight:bold;
letter-spacing:-2px
bordwr-bottom:1px solid #999;
}

@meida (max-width:600px) {
  .row{
    flex-directo:colum;
}
img{
  display:none
}

#name {
  display:
  text-align: center;
 }
